PORT=
JWT_SECRET=

GOOGLE_EMAIL=
GOOGLE_APP_PASSWORD=
GOOGLE_CLIENT_ID=com
GOOGLE_CLIENT_SECRET=
GEMINI_API_KEY =

DATABASE_HOST =
DATABASE_USERNAME =
DATABASE_PASSWORD =
DATABASE_NAME =
DATABASE_NAME_TEST =
DATABASE_DIALECT =

DEV_EMAIL=
DEV_FIRSTNAME=
DEV_LASTNAME=
DEV_PHONENUMBER=
DEV_ADDRESS=

NODE_ENV=